.root {
  position: relative;
}

.wrapper {
  position: relative;
}

.input {
  height: 55px;
  padding-top: 18px;
  transition: border-color 0.15s ease;
}

.label {
  position: absolute;
  pointer-events: none;
  font-size: var(--mantine-font-size-xs);
  font-weight: 600;
  /* color: var(--mantine-color-dimmed); */
  padding-left: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  z-index: 1;
  transition: color 0.15s ease;
}

.innerInput {
  padding-top: 18px;
  font-size: 14px;
}

.input:focus {
  border-color: var(--mantine-color-emerald-6);
  border-width: 1.5px;
}

.input[data-variant="filled"] {
  background-color: var(--mantine-color-default-hover);
}

.input[data-variant="filled"]:focus {
  background-color: var(--mantine-color-body);
  border-color: var(--mantine-color-emerald-6);
  border-width: 1.5px;
}

.root:focus-within .label {
  color: var(--mantine-color-emerald-7);
}
